@using TKHTTT.Models;
@model List<TheLoai>

<button id="btn1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Thể loại
</button>
<div class="dropdown-menu" aria-labelledby="btn1">
    @foreach (var item in Model)
    {
        @*<a class="dropdown-item" href="#">@item.TenTL </a>*@
        @Html.ActionLink(item.TenTL, "LocTheoTheLoai", new { id = item.MaTL}, new { @class = "dropdown-item" })
    }
    
    @Html.ActionLink("Thể loại khác", "TheLoaiKhac", new { id = "TLK" }, new { @class = "dropdown-item" })
   
    
    @*<a class="dropdown-item" href="#">Thể loại khác </a>*@

</div>
